<div class="fixed rounded-full h-20 w-20 bottom-8 md:right-10 right-5 bg-green-50 hover:bg-emerald-100" hx-boost="true">
    <a href="posts/new">
        <img src="/static/images/add.svg" alt="add-icon">
    </a>
</div>