<div class="p-2">
    <nav class="w-full flex justify-between p-4 bg-gradient-to-r from-slate-950 to-gray-900 border-2 border-gray-500 rounded-2xl text-gray-100">
        <h1 class="text-3xl font-medium text-gray-100">Shit Post</h1>
        <div class="flex lg:gap-3 md:gap-2 gap-1">
            <a class="border-2 border-blue-500 hover:bg-blue-500 text-sm font-medium
                p-2 rounded-lg hover:scale-110  transition-all duration-300" href="/" hx-boost="true" >
                Home
            </a>
            <a class="border-2 border-blue-500 hover:bg-blue-500 text-sm font-medium
                p-2 rounded-lg hover:scale-110  transition-all duration-300" href="<%= toggle.link %>" hx-boost="true" >
                <%= toggle.label  %>
            </a>
            <button class="border-2 border-red-500 hover:bg-red-500 text-sm font-medium
                p-2 rounded-lg hover:scale-110 transition-all duration-300" hx-post="/api/auth/logout" hx-swap="none">Logout</button>
        </div>
    </nav>
</div>
