<script>
    function handleSubmit(event){
        event.preventDefault();
        const password = document.querySelector("input[name='password']");
        const confirmPassword = document.querySelector("input[name='confirm-password']");
        if (password.value !== confirmPassword.value){
            confirmPassword.setCustomValidity("Passwords do not match");
        }
    }
</script>
<style>
    .htmx-request #signup-text{
        display: none;
    }
    
</style>
<main class="lg:w-1/3 w-[90%] bg-gray-900 rounded-xl p-4">
    <h1 class="text-5xl font-semibold text-center py-6 text-zinc-100">Sign Up</h1>
    <form class="px-6" hx-post="/api/auth/signup" hx-swap="none" onsubmit="handleSubmit(event)">
        <div class="my-5">
            <label for="email" class="font-semibold text-sm">Email</label>
            <input name="email" type="email" required class="block w-full px-4 py-2 rounded-md bg-gray-800 border border-gray-700 focus:outline-none focus:border-blue-600 focus:border-2">
        </div>
        <div class="my-5">
            <label for="username" class="font-semibold text-sm">Username</label>
            <input name="username" required class="block w-full px-4 py-2 rounded-md bg-gray-800 border border-gray-700 focus:outline-none focus:border-blue-600 focus:border-2">
        </div>
        <div class="my-5">
            <label for="password" class="font-semibold text-sm">Password</label>
            <input name="password" type="password" required class="block w-full px-4 py-2 rounded-md bg-gray-800 border border-gray-700 focus:outline-none focus:border-blue-600 focus:border-2">
        </div>
        <div class="my-5">
            <label for="confirm-password"  class="font-semibold text-sm">Confirm Password</label>
            <input name="confirm-password" 
                type="password" 
                oninput="this.setCustomValidity('')" 
                class="block w-full px-4 py-2 rounded-md bg-gray-800 border border-gray-700 focus:outline-none focus:border-blue-600 focus:border-2">
        </div>
        <div class="flex justify-center my-7">
            <button type="submit" class="rounded-lg bg-blue-600 hover:bg-blue-700 transition-[background-color] duration-500 md:px-24 px-12 py-2 font-semibold text-sm">
                <span id="signup-text">Signup</span>
                <span class="htmx-indicator"><%- include('../components/ui/loading', {size:25}) %></span>
            </button>
        </div>
    </form>
    <div class="text-center">
        <button class="text-sm text-blue-400 my-4 hover:text-blue-500" hx-get="/login" hx-target="#formholder" hx-swap="innerHTML" type="button">
            Already have an account? Login
        </button>
    </div>
</main>
